# Eclipse IDE
.project
.cproject
.settings/

# IkomiaCore / IkomiaStudio
.idea
IkomiaCore.pro.user
LocalSettings.pri
LocalSettings.cmake
CMakeLists.txt.user
CMakeLists.txt.user.*
Build
build
Doc/API/html
Doc/API/latex
Doc/Internal/html
Doc/Internal/latex

